process {
    executor = 'local'
    errorStrategy = { task.exitStatus == 130 || task.exitStatus == 137 ? 'retry' : 'terminate' }
    maxRetries = 3
    maxErrors = '-1'
}

params {
    outdir = 'results'
    threads = 32
    reads = '/home2/ssyamoako/AMR_FASTQ/Data/*_{R1,R2}.fastq.gz'
}

profiles {
    local {
        process.executor = 'local'
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = 'your_queue_name'
        process.clusterOptions = '--account=your_account'
    }
    
    singularity {
        process.container = 'docker://staphb/amr-pipeline:latest'
        singularity.autoMounts = true
        singularity.enabled = true
    }
    
    docker {
        docker.enabled = true
        process.container = 'staphb/amr-pipeline:latest'
    }
}